html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
body {
/*line-height:1px;*/
font-size: 12px;
margin: 0px auto;
font-family: "Georgia Regular", serif;
color: #fff;
font-style: italic;
background: url(images/background.jpg) #f58002 top center;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}
nav ul {
list-style:none;
}
blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;

}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
.content_clear{
clear: both;
}
#wrapper{
	width: 980px;
	margin: 0px auto;
}

.logo{
	background:url(images/logo.png) center no-repeat;
	height: 73px;
	width: 140px;
	display: block;
	margin: 0px auto;
	padding-top: 20px;
}
.main_nav{

	
	list-style: none;
	display: block;
	height: 55px;
	background: url(images/nav-outline.png) top center no-repeat;
}
.main_nav ul{

	margin: 0px 270px;
	height: 55px;

}
.main_nav ul li{
	float: left;
	margin-right: 20px;
	font-size: 13px;
	padding-top: 20px;
	text-shadow:1px 1px #000;
}
.main_nav ul li a{

	text-decoration: none;
	color: #fff;
}
.main_nav ul li a:hover{
	color: #000;
}
.visit-website-btn{

	float: left;
	background-color: #000;
	border-radius: 20px;
	height: 30;
	width: 132px;
	margin-top: 350px;
}
.visit-website-btn a{

	display: block;
	color: #fff;
	text-align: center;
	padding: 7px;
	font-family: "Helvetica Bold", arial, sans serif;
	font-style: normal;
	text-decoration: none;
}
.visit-website-btn a:hover{

	color: #f58002;
}
.arrow-nav-text{

	float: left;
	display: block;
	height: 20px;
	width: 80px;
	margin-top: 20px;
	margin-left: 10px;
}
#left-nav{
	
	background: url(images/back-btn.png);
	float: left;
	height: 20px;
	width:22px;
	display: block;
	margin-top:17px;
}
#right-nav{
	
	background: url(images/frw-btn.png);
	float: left;
	height: 20px;
	width:22px;
	display: block;
	margin-top:17px;
	margin-left: 15px;
}
.gallery{
	
	height: 552px;
	margin-top: 2px;
	
}

.gallery ul li{

	float: left;
	list-style: none;
	display: block;
	width:219px;
	height: 257px;
	margin: 14px 24px 0px 0px;
}

.gallery ul li img{

	height: 148px;
	width: 218px;
}

.gallery ul li h3{

	width: 216px;
	height: 20px;
	padding-top: 5px;
	margin-left: -1px;
	font-family: "halvetica bold", arial, sans serif;
	font-style: normal;
	padding-left: 5px;
	font-size: 12px;

} 

.gallery ul li p{

	width: 214px;
	height: 84px;
	margin-left: 5px;
	line-height: 18px;
	overflow: auto;
}

footer{

	background: url(images/footer-background.jpg);
}
.footer-wrapper{

	width: 980px;
	margin: 0px auto;
}
.footer-container{

	padding-top:50px;
}
.orange{

	color: orange;
}
.footer-left{

	float: left;
	width: 320px;
}
.footer-left h3{
	font-family: "halvetica-bold", arial, sans serif;
	font-style: normal;
	font-size: 20px;
}
.footer-right{
	
	float: left;
	width: 630px;
	padding-left: 30px;
}

.footer-right-details h3{

	font-family: "halvetica-bold", arial, sans serif;
	font-style: normal;
	font-size: 20px;
}
.footer-right-details p, .footer-left p {

	margin-top: 5px;
	line-height: 16px;
}
.footer-thumbs ul li{

	list-style: none;
	float: left;
	margin-right: 5px;
	margin-top: 10px;

}

.footer-orange{

	background:url(images/footer-orange.png);
	position: absolute;
	right: 0px;
	bottom: 0px;
	display: block;
	width: 248px;
	height: 176px;
}



